.wrapper {
  min-height: 100vh;
  background: rgba(11, 14, 34, 0.797);
  color: rgb(249, 230, 230);
}

.animate {
  animation-duration: 2s;
  animation-name: fadeRight;
  animation-direction: right;
}
@keyframes fadeRight {
  from {
    margin-top: 0%;
    color: rgb(196, 189, 179);
  }
  to {
    margin-top: 20%;
    color: white;
  }
}

/* .animated-text {
  font-size: 1.46875rem;
  font-weight: 500;
  color: white;
} */
